<%- include('./partials/header', {customStyles : '/stylesheets/feedStyle.css'}) %>
<div id="loader" class="loader">   
    <div class="dots-loaders"></div>
    <div class="top-dots">
    <div class="dots-loaders"></div>
    <div class="dots-loaders blind-dot"></div>
    <div class="dots-loaders"></div>
    </div>
    <div class="dots-loaders"></div>
</div>
<div class="container1" id="feedContainer"> 
</div> 


<%- include('./partials/footer', {customScript: '/javascripts/feed.js'}) %> 